<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher Lower</title>
</head>
<body>
    <h1>Guess the number</h1>
<h2>enter your number ☝☝ in the urlbar</h2>
    <div style="width:400px;height:500px;position:relative;"><iframe src="https://giphy.com/embed/3o7aCSPqXE5C6T8tBC" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe'></div><p><a href="https://giphy.com/gifs/animation-retro-pixel-3o7aCSPqXE5C6T8tBC">via GIPHY</a></p>
</body>
</html>